In [1]:
import pandas as pd

In [6]:
subset = ["Toilet", "Swimming_pool", "Bed",
          "Billiard_table", "Sink", "Fountain",
          "Oven","Ceiling_fan", "Television", 
          "Microwave_oven", "Gas_stove", "Refrigerator",
          "Kitchen_&_dining_room_table", "Washing_machine", "Bathtub",
          "Stairs", "Fireplace", "Pillow",
          "Mirror",  "Shower",  "Couch",
          "Countertop",  "Coffeemaker",  "Dishwasher",
          "Sofa_bed",  "Tree_house",  "Towel", 
          "Porch",  "Wine_rack",  "Jacuzzi"]
len(subset)

30

In [7]:
!wget https://storage.googleapis.com/openimages/2018_04/class-descriptions-boxable.csv

--2020-11-10 15:52:38--  https://storage.googleapis.com/openimages/2018_04/class-descriptions-boxable.csv
Loaded CA certificate '/etc/ssl/certs/ca-certificates.crt'
Resolving storage.googleapis.com (storage.googleapis.com)... 2800:3f0:4001:805::2010, 2800:3f0:4001:81c::2010, 2800:3f0:4001:812::2010, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|2800:3f0:4001:805::2010|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11255 (11K) [text/csv]
Saving to: ‘class-descriptions-boxable.csv’

class-descriptions- 100%[===================>]  10.99K  --.-KB/s    in 0.003s

2020-11-10 15:52:39 (3.75 MB/s) - ‘class-descriptions-boxable.csv’ saved [11255/11255]

In [8]:
classes = pd.read_csv("class-descriptions-boxable.csv", names = ["ID", "Name"]); classes

              ID        Name
0      /m/011k07    Tortoise
1    /m/011q46kg   Container
2      /m/012074      Magpie
3      /m/0120dh  Sea turtle
4      /m/01226z    Football
..           ...         ...
596     /m/0qmmr  Wheelchair
597   /m/0wdt60w  Rugby ball
598      /m/0xfy   Armadillo
599     /m/0xzly     Maracas
600     /m/0zvk5      Helmet

[601 rows x 2 columns]

In [12]:
classes["match"] = classes["Name"].isin(subset); classes

              ID        Name  match
0      /m/011k07    Tortoise  False
1    /m/011q46kg   Container  False
2      /m/012074      Magpie  False
3      /m/0120dh  Sea turtle  False
4      /m/01226z    Football  False
..           ...         ...    ...
596     /m/0qmmr  Wheelchair  False
597   /m/0wdt60w  Rugby ball  False
598      /m/0xfy   Armadillo  False
599     /m/0xzly     Maracas  False
600     /m/0zvk5      Helmet  False

[601 rows x 3 columns]

In [14]:
classes.match.value_counts()

False    581
True      20
Name: match, dtype: int64

In [15]:
# What are the matches for our initial subset?
matches = classes[classes["match"] == True]["Name"].tolist(); matches

['Sink',
 'Towel',
 'Stairs',
 'Fountain',
 'Oven',
 'Couch',
 'Shower',
 'Pillow',
 'Bathtub',
 'Bed',
 'Fireplace',
 'Refrigerator',
 'Porch',
 'Mirror',
 'Jacuzzi',
 'Television',
 'Coffeemaker',
 'Toilet',
 'Countertop',
 'Dishwasher']

In [16]:
# Where they differ?
missing_classes = list(set(subset)-set(matches)); missing_classes

['Ceiling_fan',
 'Wine_rack',
 'Kitchen_&_dining_room_table',
 'Microwave_oven',
 'Sofa_bed',
 'Washing_machine',
 'Billiard_table',
 'Gas_stove',
 'Swimming_pool',
 'Tree_house']

In [17]:
classes[classes["Name"].str.contains("pool")]

           ID           Name  match
444  /m/0b_rs  Swimming pool  False

In [18]:
classes[classes["Name"].str.contains("stove")]

             ID                Name  match
197  /m/02wv84t           Gas stove  False
270  /m/04169hn  Wood-burning stove  False

In [19]:
classes[classes["Name"].str.contains("stove")]["Name"].tolist()

['Gas stove', 'Wood-burning stove']

In [20]:
# Get the individual words from each string of missing classes
strings = [i.split('_') for i in missing_classes]
strings = [item for sublist in strings for item in sublist]
strings

['Ceiling',
 'fan',
 'Wine',
 'rack',
 'Kitchen',
 '&',
 'dining',
 'room',
 'table',
 'Microwave',
 'oven',
 'Sofa',
 'bed',
 'Washing',
 'machine',
 'Billiard',
 'table',
 'Gas',
 'stove',
 'Swimming',
 'pool',
 'Tree',
 'house']

In [21]:
# Now find if any of the strings match up
more_matches = []
for string in strings:
    more_matches.append(classes[classes["Name"].str.contains(string)]["Name"].tolist())
more_matches = list(set([item for sublist in more_matches for item in sublist]))
more_matches

['Dog bed',
 'Tree house',
 'Mushroom',
 'Microwave oven',
 'Bathroom cabinet',
 'Infant bed',
 'Lighthouse',
 'Billiard table',
 'Gas stove',
 'Kitchenware',
 'Spice rack',
 'Tree',
 'Swimming pool',
 'Wine rack',
 'Kitchen & dining room table',
 'Coffee table',
 'Vegetable',
 'Wine',
 'Wine glass',
 'Sofa bed',
 'Mechanical fan',
 'Tennis racket',
 'Sewing machine',
 'Table tennis racket',
 'Kitchen knife',
 'Kitchen appliance',
 'Kitchen utensil',
 'Ceiling fan',
 'Washing machine',
 'Bathroom accessory',
 'Wood-burning stove']

In [22]:
missing_classes_no_space = [i.replace("_", " ") for i in missing_classes]
missing_classes_no_space

['Ceiling fan',
 'Wine rack',
 'Kitchen & dining room table',
 'Microwave oven',
 'Sofa bed',
 'Washing machine',
 'Billiard table',
 'Gas stove',
 'Swimming pool',
 'Tree house']

In [23]:
actual_missing_classes = list(set(missing_classes_no_space) - set(more_matches))
actual_missing_classes

[]

The open Images dataset contains all of our classes of interest, they only differ in the naming convention (Airbnb uses underscores in theyr class names and Open Images don't)

In [24]:
subset_no_underscore = [i.replace("_", " ") for i in subset]
subset_no_underscore

['Toilet',
 'Swimming pool',
 'Bed',
 'Billiard table',
 'Sink',
 'Fountain',
 'Oven',
 'Ceiling fan',
 'Television',
 'Microwave oven',
 'Gas stove',
 'Refrigerator',
 'Kitchen & dining room table',
 'Washing machine',
 'Bathtub',
 'Stairs',
 'Fireplace',
 'Pillow',
 'Mirror',
 'Shower',
 'Couch',
 'Countertop',
 'Coffeemaker',
 'Dishwasher',
 'Sofa bed',
 'Tree house',
 'Towel',
 'Porch',
 'Wine rack',
 'Jacuzzi']